.contact, .contact-links {

    line-height: 2;

    a {
        font-weight: 200;
        color: $text-color;
        padding: 0 0.2rem;
        transition: .2s;
        -webkit-transition: .2s;

        &:hover {
            color: $paper;
            background-color: $accent;
        }
    }

    padding-bottom: 1rem;
}

.contact {
    text-align: right;
}

.title {

    .name, .tagline {
        color: $accent;
    }
    .name {
        font-size: 2rem;
    }
}