.work-in-progress {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 260px;
    font-weight: 700;
    color: $accent;
    z-index: 9999;
    opacity: 0; /* Start with 0 opacity */
    animation: fadeIn 1s ease-in-out forwards; /* Apply the animation */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
