.skill-bar {
    width: 55%;
    height: 7px;
    position: relative;
    border-radius: 10px;
    float: right;
    margin-top: 0.45em;

    .background-box {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: scale-color($neutral, $lightness: 60%);
        border-radius: 10px;
    }

    .progress-box {
        position: absolute;
        height: 100%;
        background-color: $accent;
        width: 0;
        border-radius: 10px;
    }

    /* Different levels of completion */
    .level-1 { width: 20%; }
    .level-2 { width: 40%; }
    .level-3 { width: 60%; }
    .level-4 { width: 80%; }
    .level-5 { width: 100%; }
}
