/* Added by jacopouggeri */
$aqua: rgb(115, 204, 183);
$darkaqua: #05696B;
$lightaqua: #AFDDDE;
$darkblue: rgb(20, 27, 49);
$myblue: rgb(18, 27, 51);
$mywhite: rgb(243, 245, 239);
$mygray: rgb(89, 95, 112);
$mydove: rgb(174, 176, 172);