{{ if eq .Feature.feature "doubleColumn" }}

<div class="flex-row double-column">
	{{ range .Feature.features }}
		{{ if eq .feature "languages"}}
		<div class="flex-1">
		{{ else }}
		<div class="flex-3">
		{{ end }}
		{{ partial "section" (dict "Feature" . "Data" $.Data "useFontAwesome" $.useFontAwesome) }}

		</div>
	{{ end }}
</div>

{{ else }}

<div class="section section-{{ .Feature.feature }}">

	{{- if or (not (isset .Feature "title")) .Feature.title -}}
	<h1 class="section-title">{{ .Feature.title | default (title .Feature.feature) }}</h1>
	{{- end -}}
	{{- $partial := (printf "section-%s.html" (default .Feature.feature .Feature.widget)) -}}
	{{- $collection := index .Data (default "features" .Feature.collection) -}}
	{{- if and (not (templates.Exists (printf "partials/%s" $partial))) (isset $collection .Feature.feature) -}}
	{{ partial "section-details-list.html" . }}
	{{- else -}}
	{{ partial $partial . }}
	{{- end -}}

</div>

{{ end }}