{{ range .Data.experiences }}
<div class="item group">
    <div class="flex-row">
	    <h2 class="item-title">
            {{if .link}}<a href="{{ .link }}" >{{end}}
                {{ .title }} <br>
                {{ if .subtitle }} <span class="item-subtitle">{{ .subtitle }}</span>{{ end }}
            {{if .link}}</a>{{end}}
        </h2>
        {{ if .date }}<h2 class="date">{{ .date }}</h2>{{ end }}
    </div>
	<div class="item">
        {{ if and .details (not .collapse) }}
        <div class="details">
        {{- partial "markdown" .details }}
        </div>
        {{ end }}
	</div>
</div>
{{ end }}