* {
  margin: 0;
  padding: 0;
}

body {
  background: $paper-bg;
  color: $text-color;
  font-family: $font-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $text-color;
  box-shadow: 0 2px 0 $accent;


  i {
    padding: 0 0.2rem 0 0.25rem;
  }

  &:hover {
    color: $accent;
  }

  &:not(.no-external-icon)::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 0.2rem 0 0.25rem;
  }
}

li {
  list-style-type: square;
  padding-left: 0px;
  list-style-position: inside;
  margin: 0.5rem 0;
}

/* Enable background printing in browsers */
@media print {
  body {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
  }
}